/* body Styles */ 
    body {
    font-size: 25px;
    font-family: cursive;
    }

    h1 {
    font-size: 70px;
    text-align: center;
    color:white;
    }

    .background-image {
    width: 100%;
    z-index: -1;
    background: url('./images/sky.jpg') center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:1750px 750px;
    background-size: cover;

    }

    h2 {
    color: whitesmoke;
    font-weight: bold;
    font-size: 10px;
    }
    

    /*Media Queries*/
    .container {overflow: auto;}

    #parent {margin-left: 4px;}

    #nav-title {
  float: none;
  width: auto;
    }

    #parent {
    margin: 0;
    padding: 0;
    }

    .nav-link-title {
  list-style-type: none; 
    }

  @media screen and (min-width: 480px) {
  #na-title {width: 200px; float: left;}
  #nav-link-title {margin-left: 216px;}


    /* Nav Styles */
    .nav-title {
    padding: 40px; 
    }
    html {
    scroll-behavior: smooth;
    }
 
    .nav-link-title {
    height: 15px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.1s;
    }

    .nav-link-title a {
    color: orangered;
    text-decoration: none;
    }

    .nav-link-title:hover {
    text-shadow: 2px 1px peachpuff;
    }

    .nav-link-title a:hover {
    color: rgb(33, 154, 224);
    }

    .effiel-tower {
    z-index: 1;
    }

    .container {
        width: 1024px;
        margin: 0 auto;
    }
  
    /*About-Me-github-link*/
    a {
    color:rgb(33, 154, 224);
    font-size: 20px;
    }

    /*flex-box-styles*/

    .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    flex-direction: column;
    }

  .project-img:hover,.about-img:hover,.email-image:hover {
    transition: 1s;
    filter: brightness(20%);
    }  

  .project-img::after,.about-img::after,.email-image::after {
    content: "";
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    }

    .project-img {
    background-image: url(images/codingbackground.jpg);
    width: 100%;
    min-height: 100px;
    display: flex;
    padding: 5px;
    align-items: stretch;
    border: 5px solid orange;
    }

  .about-img {
    background-image: url(images/user.jpg);
    width: 100%;
    min-height: 100px;
    display: flex;
    padding: 5px;
    align-items: stretch;
    border: 5px solid whitesmoke;
    }
  
  .email-img {
    background-image: url(images/Email.jpg);
    width: 100%;
    min-height: 100px;
    display: flex;
    padding: 5px;
    align-items: baseline;
    border: 5px solid orange;
    }
  }
  /*end*/